{% extends 'base.html' %}
{% block content %}

  <h1>{{ question.question }}</h1>

  <form action="/{{survey_id}}/answer" method="POST">
    <!-- you should have one item like this for every choice -->
      <p>
        {% for choice in question.choices %}
        <input
            type="radio"
            name="answer"
            value={{choice}}>
        {{choice}}
        {% endfor %}
      </p>

      {% if question.allow_text %}
        <p>Enter comments here: <input
        type="text"
        name="comment">
        </p>
      {% endif %}
    
    <button>Continue</button>
  </form>

  {% for msg in get_flashed_messages() %} 
  <p>
    {{get_flashed_messages()[0]}}
  </p>
  {% endfor %}

{% endblock %}
